# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kkt_python_project\distance_sensing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
